header .container {
  height: 100px;
  display: flex;
  align-items: center;
}
header .container .logo {
  margin-right: 2rem;
  text-align: center;
}
header .container .logo img {
  width: 80px;
}
header .container .menu {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 100%;
}
header .container .menu li {
  line-height: 96px;
  padding: 0 0.8rem;
}
header .container .menu li a {
  text-decoration: none;
  color: inherit;
}
header .container .menu li.active {
  border-bottom: 4px solid #2f82f9;
}
header .jumbo {
  height: 450px;
  background-image: url("../images/jumbotron.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: auto;
}

.home_page {
  background-color: #222222;
}
.home_page .badge {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -25px;
  height: 50px;
  line-height: 50px;
  font-size: 1.1rem;
  padding: 0 1.4rem;
  background-color: #2f82f9;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}
.home_page .comics_section {
  display: flex;
  flex-wrap: wrap;
}
.home_page .comics_section .comic_card {
  margin: 0 15px;
  height: 280px;
  width: 210px;
  display: flex;
  flex-direction: column;
}
.home_page .comics_section .comic_card img {
  height: 210px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.home_page .comics_section .comic_card p {
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.single .blue-band {
  background-color: #2f82f9;
  height: 80px;
  width: 100%;
}
.single .container {
  position: relative;
}
.single .container .comic {
  width: 180px;
  height: auto;
  position: absolute;
  top: -340px;
  left: 0;
  border: 1px solid white;
  display: flex;
}