// RESET 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
ul {
    list-style: none;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
}
.container {
    width: 95%;
    max-width: 1440px;
    margin: auto;
}
.flex {
    display: flex;
}
.trasparent {
    color: rgba($color: #ffffff, $alpha: 0.7);
}