// RESET 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: auto;
}